*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0 25%;
}

#add-server {
    display: block;
    margin: 2em auto;
    padding: 1em;
    width: 80%;
    border: none;
    box-shadow: 2px 2px 5px rgb(168, 156, 156);
    background-color: rgb(49, 206, 49);
    color: white;
    font-size: 1.5em;
}
#add-server:hover {
    background-color: rgb(20, 199, 20);
}

input[type=number],
.delete-server,
.add-task
{
    height: 2.5em;
    padding: 0.7em;
    font-size: 1em;
}
.count-of-task {
    width: 6em;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}
.add-task {
    margin-right: auto;
    margin-left: 5px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
}
.add-task:hover {
    background-color: rgb(126, 126, 223);
    color: white;
}

.delete-server {
    display: block;
    float: right;
    width: auto;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
}
.delete-server:hover {
    background-color: #d11a2a;
    border: none;
    color: white;
}

.server {
    border: 1px solid rgb(202, 214, 209);
    border-radius: 2%;
    box-shadow: 2px 2px 5px rgb(168, 156, 156);
    margin: 2em;
    padding: 1.5em;
}


.task {
    /* border: 1px solid green; */
    width: 100%;
    height: 2em;
    margin: 10px 0;
}

.progress-bar {
    float: left;
    background-color: lightgray;
    width: 80%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.progress {
    background-color: rgb(136, 230, 136);
    width: 0%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.delete-task {
    display: inline-block;
    width: 20%;
    height: 100%;
    border: none;
    background-color: #dd4d59;
    color: white;
    font-size: 1em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.delete-task:hover {
    background-color: #d11a2a;
}
.delete-task:disabled {
    background-color: #aa9b9c;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    body {
        margin: 0;
    }
    #add-server {
        margin: 0;
        width: 100%;
    }
    .server {
        margin: 1.5em 0.5em;
    }
    .count-of-task,
    .add-task,
    .delete-server {
        float: unset;
        width: 100%;
        margin: 5px;
    }
    .delete-task {
        font-size: 0.9em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        margin: 0 10%;
    }
    #add-server {
        margin: 1em auto;
        width: 100%;
    }
    .server {
        margin: 1.5em 0.5em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        margin: 0 15%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        margin: 0 25%;
    }
}
